*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*Весь контент*/

.content {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin: 30px;
  gap: 30px;
  margin: auto;
}

.result {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  gap: 13px;
}

  /*видео*/
.result__video-container {
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

    /*фильтры под видео*/

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

/*выбор города*/
.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  appearance: none;
}

.search-form__label:has(input[type="text"]:active) {
  border-top: none;
  outline: 1px solid #FFFFFF;
}

.search-form__label:has(input[type="text"]:focus) {
  outline: none;
}

.search-form__label:has(input[type="text"]:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

/*чекбоксы*/

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
}

.search-form__label {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  background: transparent;
}

input[type="checkbox"]:checked + span::after,
.search-form__pseudo-checkbox:active::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #FFFFFF;
}

input[type="checkbox"] {
  text-decoration: underline;
}

.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
}

.search-form__label:has(input[type="checkbox"]):focus,
.search-form__textfield:focus,
.search-form__label:focus{
  outline: none;
}

.search-form__label:has(input[type="checkbox"]:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.button {
  height: 34px;
  color: #FFFFFF;
  font-size: 18px;
  border: 1px solid currentColor;
  background: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

button[type="submit"] {
  margin-top: auto;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  display: flex;
  min-width: 399px;
  flex-direction: column;
  gap: 25px;
}
  /*Заголовок*/

.title {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70.5px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

  /*карточки*/
.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus{
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__video-card {
  display: flex;
  width: 394px;
  min-height: 107px;
  justify-content: space-between;
  padding: 0px 2px;
}

.content__video-card:not(:first-child) {
  padding: 2px;
}

.content__list:has(.content__list-item:focus) {
  outline: none;
}

.content__list:has(.content__list-item:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-style: normal;

}

      /*заголовок в карточках*/

.content__video-card-title {
  width: 200px;
  font-weight: normal;
  text-transform: uppercase;
  overflow-wrap: break-word;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

      /*основной текст в карточках*/

.content__list {
  position: relative;
  display: flex;
  min-width: 399px;
  height: 298px;
  flex-direction: column;
  gap: 30px;
  overflow: auto; 
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

p.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 17px;
  font-style: normal;
}

p.content__video-card-description::first-letter {
  text-transform: uppercase;
}

li:last-child {
  margin: 3px;
}

    /*картинка в карточках*/

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: 50% 50%;
  margin: auto 0;
}

.more-button {
  width: 399px;
}